/*
 * File Purpose: Self-hosted IBM Plex faces for Hexsweeper (no Google Fonts CDN).
 * Primary Functions/Classes: @font-face for UI + mono chrome.
 * Inputs: Sibling .woff2 files in this directory.
 * Outputs: IBM Plex Sans (400/600/700) + IBM Plex Mono (500/600).
 * License: SIL Open Font License 1.1 — https://github.com/IBM/plex
 */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./IBMPlexMono-500.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./IBMPlexMono-600.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./IBMPlexSans-400.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./IBMPlexSans-600.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./IBMPlexSans-700.woff2") format("woff2");
}
